body {
  background-color: gold;
}
@keyframes slide {
    from { left: 20%; }
    to {left: 80%; }
  }

.sliding_CIT {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  background-image:url(th.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  animation-duration: 3s;
  animation-name: slide;
  animation-iteration-count: infinite;
  }

.CIT_des {
  position: absolute;
  top:400px;
  left:40%;
}
h2{
  font-weight:bold ;
}
p{
  font-weight: bold;
  max-width: 400px;
}

